<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin order management</title>
    <link rel="stylesheet" href="admin-order.css" />
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css"
    /> -->
    <script type="text/javascript" defer>
      fetch('/header.html')
        .then((res) => res.text())
        .then((text) => {
          document.querySelector('#header').innerHTML = text;
        });
    </script>
  </head>
  <body>
    <header id="header"></header>
    <main>
      <section class="order-management-header">
        <div class="order-management-header-title">주문 관리</div>
      </section>
      <section class="order-count">
        <div>
          <p>총 주문수</p>
          <p class="order-count-num" id="ordersCount">-</p>
        </div>
        <div>
          <p>상품 준비중</p>
          <p class="order-count-num" id="prepareCount">-</p>
        </div>
        <div>
          <p>상품 배송중</p>
          <p class="order-count-num" id="deliveryCount">-</p>
        </div>
        <div>
          <p>배송완료</p>
          <p class="order-count-num" id="completeCount">-</p>
        </div>
      </section>
      <section class="order-lists" id="orderListMenu">
        <div class="order-list-menu">
          <div>날짜</div>
          <div>주문 정보</div>
          <div>주문총액</div>
          <div>상태관리</div>
          <div>주문 취소</div>
        </div>
        
        <div class="order-list">
          <div>날짜</div>
          <div>주문 정보</div>
          <div>주문총액</div>
          <div>상태관리</div>
          <div>
            <a href="#" class="order-delete-btn"> 주문 취소 </a>
          </div>
        </div>
      </section>
    </main>

    <!-- 주문 취소를 묻는 Modal창 -->
    <section class="modal-overlay" id="modal">
      <div class="modal-content">
        <p>주문 삭제 시 복구할 수 없습니다. 정말로 취소 하시겠습니까?</p>
        <button class="modal-close-btn">X</button>

        <div class="modal-btns">
          <button class="modal-yes-btn">네</button>
          <button class="modal-no-btn">아니오</button>
        </div>
      </div>
    </section>
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script> -->
    <script defer src="admin-order.js"></script>
  </body>
</html>
