/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.order-management-header-title {
  border-bottom: 0.1rem solid black;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 2rem;
}

section a {
  text-decoration: none;
}

.order-count {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.order-count div {
  width: 7rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-count p:last-child {
  padding-top: 0.5rem;
  font-size: 2rem;
}

.order-list-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
  background-color: beige;
  height: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  border-bottom: 0.1rem solid rgb(125, 125, 125);
}

.order-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: thistle;
  height: 3rem;
  border-bottom: 0.1rem solid rgb(125, 125, 125);
  margin-left: 3rem;
  margin-right: 3rem;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(214, 214, 214, 0.582);
  backdrop-filter: blur(0.1rem);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: none;
}

.modal-content {
  background: rgba(101, 161, 210, 0.7);
  box-shadow: 0 0.5rem 2rem 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 30rem;
  height: 15rem;
  position: relative;
  padding: 2rem;
}

.modal-btns button {
  justify-items: center;
}