<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="start.css" />
  </head>
  <body>
    <main>
      <section class="start-book">
        <img src="" alt="책 표지" class="start-book-img" />
      </section>
      <section class="start-btns">
        <a href="" class="start-yes">이 책이 마음에 드시나요?</a>
        <a href="/home" class="start-no">다른 책을 원하시나요?</a>
        <!-- <a href="/src/views/product-detail/미움받을용기.jpg"></a> -->
      </section>
    </main>
    <script type="module" src="start.js"></script>
  </body>
</html>
