<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin category management</title>
    <link rel="stylesheet" href="admin-category.css" />
  </head>
  <body>
    <header>헤더</header>
    <main>
      <section class="category-management-header">
        <div class="category-management-header-title">카테고리 관리</div>
        <div class="category-add">
          <a href="#">카테고리 추가하기</a>
        </div>
      </section>
      <section class="category-management-main">
        <div class="category-type">
          <p>소설</p>
          <a href="#" class="category-update">수정</a>
          <a href="#" class="category-delete">삭제</a>
        </div>
        <div class="category-type">
          <p>소설</p>
          <a href="#" class="category-update">수정</a>
          <a href="#" class="category-delete">삭제</a>
        </div>
      </section>
    </main>
    <script defer src="admin-category.js"></script>
  </body>
</html>
