<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta httitleInputtp-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin category management</title>
    <link rel="stylesheet" href="admin-category.css" />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />

    <script type="text/javascript" defer>
      fetch('/header.html')
        .then((res) => res.text())
        .then((text) => {
          document.querySelector('#header').innerHTML = text;
        });
    </script>
  </head>
  <body>
    <main>
      <section class="category-management-header">
        <div class="category-management-header-title">카테고리 관리</div>
      </section>
      <section class="category-management-main">
        <form
          class="box register-category-form-box"
          id="registerCategoryForm"
          >
          <p class="title is-5">카테고리 추가하기</p>
          <div class="field">
            <label class="label" for="titleInput">카테고리 이름</label>
            <div class="control">
              <input
                class="input"
                id="titleInput"
                type="text"
                placeholder="Book Category"
                autocomplete="on"
              />
            </div>
          </div>
        </form>
        <button
          class="button is-fullwidth"
          id="addCategoryButton"
        >
          카테고리 추가하기
        </button>
      </section>
    </main>
    <script type="module" src="admin-category.js" defer></script>
  </body>
</html>
