/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-detail {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 0;
}

.book-img img,
.book-info {
  width: 25rem;
  border: 0.1rem solid black;
}

.book-info {
  padding: 1rem 2rem;
}

.book-info h1,
.book-info p {
  padding: 1rem 0;
}

h1 {
  font-size: 3rem;
  padding-top: 0;
}

/* 카테고리 바텀 패딩 삭제 안됨 */
/* .book-category {
  padding: 0.1rem;
} */

.payment-btns {
  display: flex;
  justify-content: space-around;
  width: 35rem;
}

.payment-btns a {
  display: block;
  padding: 1rem;
  text-align: center;
  border: none;
  width: 15rem;
  height: 3rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.add-cart-btn {
  color: white;
  background-color: #80b8c5;
}

.buy-now-btn {
  background-color: #d9f2f8;
}
