<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>책 이름</title>
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- sweetalert2 -->
    <!-- <script src="sweetalert2.min.js"></script> -->
    <link rel="stylesheet" type="text/css" href="product-detail.css" />
  </head>
  <body>
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container mt-3">
          <div class="navbar-brand">
            <a class="navbar-item" href="../home/home.html">
              <span class="has-text-link">📖 원 픽</span>
            </a>

            <a
              role="button"
              class="navbar-burger"
              aria-label="menu"
              aria-expanded="false"
              data-target="navbarBasicExample"
            >
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
            <ul id="navbar">
              <li><a href="../login/login.html">로그인</a></li>
              <li><a href="../register/register.html">회원가입</a></li>
              <li><a href="#">위시리스트</a></li>
              <li>
                <a href="../cart/cart.html" aria-current="page">
                  <span class="icon">
                    <i class="fas fa-cart-shopping"></i>
                  </span>
                  <span>카트</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section class="product-detail">
        <div class="book-img-contatiner">
          <img id="book-img" src="" alt="불러올 이미지가 없습니다." />
        </div>
        <div class="book-info">
          <p class="book-category">카테고리</p>
          <h1 class="book-title">책 제목</h1>
          <p class="book-author">작가</p>
          <p class="book-publisher">출판사</p>
          <p class="book-publicationDate">발행일</p>
          <p class="book-page">쪽수</p>
          <p class="book-price">가격</p>
          <section class="payment-btns">
            <a class="add-cart-btn">장바구니 추가하기</a>
            <a class="buy-now-btn">바로 구매하기</a>
          </section>
        </div>
      </section>
      <p class="book-summary">줄거리</p>
    </main>
    <script type="module" src="product-detail.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script> -->
  </body>
</html>
