<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="admin.css" />
    <script
      src="https://kit.fontawesome.com/46ecf23ca0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="admin-page-header">
      <span>로고</span>
      <a href="#">홈</a>
      <a href="#">로그아웃</a>
    </header>
    <main>
      <section class="admin-menu">
        <a href="../admin-users/admin-users.html" class="admin-users">
          <div>
            <i class="fa-solid fa-address-card fa-4x"></i>
          </div>
          <div class="admin-menus-info">
            <div class="admin-menus-title">회원 관리</div>
            <p>모든 회원 정보를 확인 및 관리할 수 있습니다.</p>
          </div>
        </a>
        <a href="../admin-category/admin-category.html" class="admin-category">
          <div>
            <i class="fa-solid fa-table-list fa-4x"></i>
          </div>
          <div class="admin-menus-info">
            <div class="admin-menus-title">카테고리 관리</div>
            <p>제품이 속할 수 있는 카테고리를 관리할 수 있습니다.</p>
          </div>
        </a>
        <a href="../admin-product/admin-product.html" class="admin-product">
          <div>
            <i class="fa-solid fa-book fa-4x"></i>
          </div>
          <div class="admin-menus-info">
            <div class="admin-menus-title">상품 관리</div>
            <p>상품을 관리할 수 있습니다.</p>
          </div>
        </a>
        <a href="../admin-order/admin-order.html" class="admin-order">
          <div>
            <i class="fa-solid fa-cart-shopping fa-4x"></i>
          </div>
          <div class="admin-menus-info">
            <div class="admin-menus-title">주문 관리</div>
            <p>모든 주문 내역을 확인 및 관리할 수 있습니다.</p>
          </div>
        </a>
      </section>
    </main>
  </body>
</html>
