<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="./order.css" />
    <title>장바구니</title>
  </head>
  <body>
    <!-- 헤더 -->
    <header></header>
    <!-- 메인 -->
    <main>
      <h1>주문 결제</h1>
      <div class="order-container">
        <section class="user-info">
          <h2>배송지 정보</h2>
          <div class="user-name">
            <p>이름</p>
            <input id="input-name" type="text" value="" />
          </div>
          <div class="user-number">
            <p>번호</p>
            <input id="input-number" type="text" value="" />
          </div>
          <div class="user-address">
            <p>주소</p>
            <input id="input-address" type="text" value="" />
          </div>
        </section>
        <section class="order-info">
          <h2>결제 정보</h2>
          <p class="order-product"></p>
          <p class="order-total-price"></p>
          <button id="order">결제하기</button>
        </section>
      </div>
    </main>
    <!-- 장바구니 푸터 -->
    <!-- <footer id="footer">
      <div class="footer-head">
        <h3>(주) 원픽</h3>
      </div>
      <div class="list">
        <p>&nbsp;/*주소*/ &nbsp; 코딩특별시 엘리스구 소프트웨어로3길 1, 22호</p>
        <p>&nbsp;/*전화*/ &nbsp; 400-200</p>
      </div>
      <div class="copyright">
        <p>Copyright © 2022 1Pick. All right reserved.</p>
      </div>
    </footer> -->
    <script type="module" src="order.js" defer></script>
  </body>
</html>
