<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="./order.css" />
    <title>주문 결제</title>
  </head>
  <body>
    <!-- 헤더 -->
    <header></header>
    <!-- 메인 -->
    <main>
      <h1>주문 결제</h1>
      <div class="order-container">
        <section class="user-info">
          <h2>배송지 정보</h2>
          <div class="user-name">
            <p>이름</p>
            <input id="input-name" type="text" value="" />
          </div>
          <div class="user-number">
            <p>번호</p>
            <input id="input-number" type="text" value="" />
          </div>
          <div class="user-address">
            <p>주소</p>
            <input id="input-address" type="text" value="" />
          </div>
        </section>
        <section class="order-info">
          <h2>결제 정보</h2>
          <p class="order-product"></p>
          <p class="order-total-price"></p>
          <button id="order">결제하기</button>
        </section>
      </div>
    </main>
    <script type="module" src="./order.js" defer></script>
  </body>
</html>
