<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>원픽</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="home.css" />
    <script src="home.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container mt-3">
        <div class="navbar-brand">
          <a class="navbar-item" href="./home.html">
            <span class="has-text-link">📖 원 픽</span>
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
          <ul id="navbar">
            <li><a href="../login/login.html">로그인</a></li>
            <li><a href="../register/register.html">회원가입</a></li>
            <li><a href="#">위시리스트</a></li>
            <li>
              <a href="../cart/cart.html" aria-current="page">
                <span class="icon">
                  <i class="fas fa-cart-shopping"></i>
                </span>
                <span>카트</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--배너 슬라이드-->
    <div class="carousel-wrapper">
      <!-- <img src="./img/home-ad/olia-gozha-J4kK8b9Fgj8-unsplash.jpg" alt="책" /> -->
      <!-- <img src="./img/home-ad/pexels-ann-h-1765033.jpg" alt="책" /> -->
      <img src="./img/home-ad/pexels-cottonbro-6344231.jpg" alt="책" />
    </div>

    <main>
      <!--카테고리 필터-->
      <aside>
        <form class="category-filter-form" action="" method="get">
          <label
            ><input
              id="category-fiction"
              type="checkbox"
              name="category[]"
              value="소설"
            />
            소설</label
          >
          <label
            ><input type="checkbox" name="category[]" value="에세이" />
            에세이</label
          >
          <label
            ><input type="checkbox" name="category[]" value="개발" />
            개발</label
          >
          <label
            ><input type="checkbox" name="category[]" value="원서" />
            원서</label
          >
          <label
            ><input type="checkbox" name="category[]" value="경제" />
            경제</label
          >
          <label
            ><input type="checkbox" name="category[]" value="취미" />
            취미</label
          >
          <label
            ><input type="checkbox" name="category[]" value="시" /> 시</label
          >
        </form>
      </aside>

      <!-- 책 이미지-->
      <section>
        <div class="book-container">
          <div class="book-row">
            <a href="#" class="book">
              <img
                class="product"
                src="./img/home-books/best-1.jpg"
                alt="책 표지를 불러오지 못했습니다."
              />
            </a>
            <a href="#" class="book">
              <img
                class="product"
                src="./img/home-books/best-2.jpg"
                alt="책 표지를 불러오지 못했습니다."
              />
            </a>
            <a href="#" class="book">
              <img
                class="product"
                src="./img/home-books/best-3.jpg"
                alt="책 표지를 불러오지 못했습니다."
              />
            </a>
            <a href="#" class="book">
              <img
                class="product"
                src="./img/home-books/best-4.jpg"
                alt="책 표지를 불러오지 못했습니다."
              />
            </a>
            <a href="#" class="book">
              <img
                class="product"
                src="./img/home-books/best-5.jpg"
                alt="책 표지를 불러오지 못했습니다."
              />
            </a>
          </div>

          <div class="book-row"></div>
          <div class="book-row"></div>
          <div class="book-row"></div>
          <div class="book-row"></div>
          <div class="book-row"></div>
        </div>
      </section>
    </main>
    <!-- <script type="module" src="./js/bookDetail.js" defer></script> -->
    <script type="module" src="./js/index.js" defer></script>
  </body>
</html>

<!-- <img src="./img/home-books/best-3.jpg" alt="" />
          <img src="./img/home-books/best-4.jpg" alt="" />
          <img src="./img/home-books/best-5.jpg" alt="" />
          <img src="./img/home-books/best-6.jpg" alt="" />
          <img src="./img/home-books/best-7.jpg" alt="" />
          <img src="./img/home-books/best-8.jpg" alt="" />
          <img src="./img/home-books/best-9.jpg" alt="" />
          <img src="./img/home-books/best-10.jpg" alt="" />
          <img src="./img/home-books/best-11.jpg" alt="" />
          <img src="./img/home-books/best-12.jpg" alt="" /> -->
