<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>원픽</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="home.css" type="text/css" />
    <script src="home.js" type="module" defer></script>
    <script type="text/javascript" defer>
      fetch("/header.html")
        .then((res) => res.text())
        .then((text) => {
          document.querySelector(".header").innerHTML = text;
        });
    </script>
    <script type="text/javascript" defer>
      fetch("/footer.html")
        .then((res) => res.text())
        .then((text) => {
          document.querySelector(".footer").innerHTML = text;
        });
    </script>
  </head>
  <body>
    <!-- 헤더 -->
    <header class="header"></header>
    <!-- <a href="/src/middlewares/home-books/1667838639459_best-1.jpg"></a> -->
    <main>
      <!--배너 슬라이드-->
      <div class="carousel-wrapper">
        <!-- <img src="./img/home-ad/olia-gozha-J4kK8b9Fgj8-unsplash.jpg" alt="책" /> -->
        <!-- <img src="./img/home-ad/pexels-ann-h-1765033.jpg" alt="책" /> -->
        <img src="./img/home-ad/pexels-cottonbro-6344231.jpg" alt="책" />
      </div>

      <section class="sections">
        <!--카테고리 필터-->
        <aside>
          <form class="category-filter-form" action="" method="get"></form>
        </aside>
        <!--전체 상품-->
        <section class="product">
          <div class="book-list"></div>
        </section>
      </section>
      <footer class="footer"></footer>
    </main>
  </body>
</html>
