* {
  box-sizing: border-box;
  margin: 0;
}
.div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#navbar a {
  color: black;
}

.carousel-wrapper {
  display: flex;
  margin-bottom: 10%;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
}

aside {
  flex: 1;
  padding-top: 10%;
}
section {
  flex: 4;
}

.category-filter-form {
  display: flex;
  width: 50%;
  height: 50%;
  border: solid;
  margin: auto;
  position: sticky;
  top: 20%;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.book-container img {
  margin-bottom: 5%;
}
