<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .bg {
        width: 100px;
        height: 100px;
        background-color: wheat;
        border: solid;
      }
    </style>
  </head>
  <body>
    <a href="cart.html"><div class="bg" id="one"></div></a>
    <a href="cart.html"><div class="bg" id="two"></div></a>
    <a href="cart.html"><div class="bg" id="3"></div></a>
    <a href="cart.html"><div class="bg" id="4"></div></a>
    <a href="cart.html"><div class="bg" id="5"></div></a>
    <a href="cart.html"><div class="bg" id="6"></div></a>
    <!-- <button id="product1" class="bg"></button>
    </a>
    <button id="product2" class="bg" value="2"></button>
    <button id="product3" class="bg" value="3"></button>
    <button id="product4" class="bg" value="4"></button>
    <button id="product5" class="bg" value="5"></button>
    <button id="product6" class="bg" value="6"></button> -->
    <script type="module" src="mok.js" defer></script>
  </body>
</html>
